@font-face {
  font-family: "YesevaOne";
  src: url(/assets/css/fonts/yesevaone.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(/assets/css/fonts/lato.ttf);
}

@font-face {
  font-family: "gentiumBB";
  src: url(/assets/css/fonts/gentiumBB.ttf);
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.hidden-title {
  overflow: hidden;
  position: absolute;
  z-index: -1000;
}

.header-section {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

.header-title {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.navigation-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  color: #fff;
  font-size: 17px;
  padding: 45px 28px;
  transition: .3s background-color ease, .3s color ease;
}

.nav-item:hover {
  border-top: 1px solid #fff;
  cursor: pointer;
  padding-top: 44px; 
}

.social {
  fill: #ffd700;
  padding-bottom: 45px;
  padding-right: 12px;
  padding-top: 45px;
  transition: .3s background-color ease, .3s color ease;
}

.social:hover {
  cursor: pointer;
  opacity: 50%;
}

.intro-section {
  background-image: url("./images/intro.jpg");
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  width: 100%;
}

.slogan-text {
  color: #fff;
  display: flex;
  font-family: "YesevaOne", 'Arial', 'Times New Roman', sans-serif;
  font-size: 80px;
  justify-content: center;
  padding-top: 100px;
}

.slogan-text + .slogan-text {
  padding-bottom: 40px;
  padding-top: 0;
}

.decoration {
  text-align: center;
}

.intro-buttons-container {
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
  padding-top: 100px;
}

.intro-button {
  color: #fff;
  cursor: pointer;
  font-family: "Lato", 'Arial', 'Times New Roman', sans-serif;
  margin-left: 10px;
  margin-right: 6px;
  padding: 15px 45px;
  text-transform: uppercase;
}

.primary-button {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid #000;
}

.secondary-button {
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid #fff;
}

.description-section {
  background-image: url(/assets/css/images/pattern.png);
  display: flex;
  justify-content: space-between;
  padding-left: 170px;
  padding-right: 200px;
  padding-top: 70px;
  
  }

.content-part {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
}

.description-title {
  color: #cc9900;
  font-family: "YesevaOne", 'Arial', 'Times New Roman', sans-serif;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 5px;
}

.description {
  font-family: "Lato", 'Arial', 'Times New Roman', sans-serif;
  font-size: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.divider {
  margin-bottom: 15px;
}

.cook {
  padding-left: 60px;
}

.ingrid-section {
  background-image: url(/assets/css/images/ingrid-bg.png);
  display: flex;
  justify-content: flex-end;
  padding: 100px 200px 100px 0;
}

.descr-ingridients {
  background-color: rgb(0, 0, 0, .6);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}

.ingrid-decor {
  color: #fff;
}

.ingrid-description {
  font-family: "Lato", 'Arial', 'Times New Roman', sans-serif;
  font-size: 15px;
  margin: 20px 70px 70px 70px;
  text-align: center;
}

.ingrid-title {
  font-family: "YesevaOne", 'Arial', 'Times New Roman', sans-serif;
  font-size: 35px;
  font-weight: normal;
  margin-top: 70px;
}

.img-section{
  margin-bottom: 70px;
}

.menu-section {
  background-image: url(../css/images/menu-bg.png);
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 100px;
}

.category-header {
  text-align: center;
}

.dish-header {
  display: flex;
  justify-content: space-between;
}

.dish-category {
  margin-top: 50px;
  width: 420px;
}

.category-name {
  color: #c90;
  font-family: "YesevaOne", 'Arial', 'Times New Roman', sans-serif;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 5px;
}

.dish-name {
  color: #c90;
  font-family: "YesevaOne", 'Arial', 'Times New Roman', sans-serif;
  font-size: 19px;
  font-weight: lighter;
  padding-bottom: 5px;
}

.dish-price {
  color: #c90;
  font-family: "YesevaOne", 'Arial', 'Times New Roman', sans-serif;
  font-size: 19px;
  font-weight: lighter;
  padding-bottom: 5px;
}

.dish-description {
  border-top: 1px solid #c90;
  font-family: "Lato", 'Arial', 'Times New Roman', sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 10px;
  opacity: .7;
}

.special-dish {
  border: 1px solid rgba(204, 153, 0, .4);
  padding: 10px;
}

.dish-marker {
  bottom: 79px;
  position: absolute;
  right: -1px;
}

.marker-special {
  background-color: rgba(204, 153, 0, .5);
  color: #fff;
  padding: 4px 10px;
}

.dish {
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

.review-section{
  background-image: url(../css/images/review-bg.jpg);
  display: flex;
  justify-content: center;
  padding: 100px 400px;
}

.review-part {
  background-color: rgb(0, 0, 0, .6);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 70px 80px;
  position: relative;
  width: 770px;
}

.review-title {
  font-family: "YesevaOne", 'Arial', 'Times New Roman', sans-serif;
  font-size: 35px;
  font-weight: normal;
}

.review-text {
  font-family: "gentiumBB", 'Arial', 'Times New Roman', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 35px;
  text-align: center;
}

.quote {
  color: rgba(255, 255, 255, .6);
  font-family: 'Georgia', 'Arial', 'Times New Roman', sans-serif;
  font-size: 110px;
  left: 10px;
  position: absolute;
  top: 140px;
}

.review-source {   
  font-family: "gentiumBB", 'Arial', 'Times New Roman', sans-serif;
  font-size: 12px;
  margin-top: 30px;
}
